.products-item__title{
  display: flex;
  justify-content: center;
}

.products-item__pic{
  width: rem(690px);
  height: rem(380px);
  margin: auto;
  img{
    @extend %img;
  }
}

.products-item__btn{
  display: flex;
  justify-content: center;
  margin-bottom: rem(30px);
}

.products-item__desc{
  margin-bottom: rem(45px);
  .title-main{
    margin-bottom: rem(20px);
  }
  .desc{
    p{
      margin-bottom: rem(20px);
    }
  }
}

.products-item__list{
  margin: 0 rem(50px);
  .title-main{
    margin-bottom: rem(25px);
  }
}