<footer class="footer">
    <div class="container">
        <div class="quote">
            <div class="tweet-svg-wrap">
                <svg class="tweet-svg">
                    <use xlink:href="assets/img/svg/sprite/socials-sprite.svg#tw"></use>
                </svg>
            </div>
            <div class="tweet-quote">
                <div class="quote__text">
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab distinctio dolor
                    | est nam obcaecati qui sed
                    | voluptates. Alias architecto consequuntur enim molestias nobis quas rerum?
                </div>
                <div class="quote__author">Lorem ipsum dolor.</div>
            </div>
        </div>
        <div class="main-footer">
            <div class="newsletter">
                <div class="title-main">Newsletter</div>
                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, sit!
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, vitae.
                </div>
                <form action="#" method="get" class="emailin">
                    <input class="input" placeholder="Enter your e-mail address" type="email"/>
                    <input type="submit" value="Subscribe" class="input-btn"/>
                </form>
                <ul class="socials">
                    <li class="socials__item">
                        <a href="#" class="socials__link">
                            <svg class="socials__svg">
                                <use xlink:href="assets/img/svg/sprite/socials-sprite.svg#tw"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="#" class="socials__link">
                            <svg class="socials__svg">
                                <use xlink:href="assets/img/svg/sprite/socials-sprite.svg#fb"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a href="#" class="socials__link">
                            <svg class="socials__svg">
                                <use xlink:href="assets/img/svg/sprite/socials-sprite.svg#li"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="form">
                <div class="form-title">Contact form</div>
                <form class="formin" action="#" method="get">
                    <div class="form-wrap">
                        <div class="inputs">
                            <input class="input" type="text"/>
                            <input class="input" type="text"/>
                            <input class="input" type="text"/>
                        </div>
                        <textarea class="input text-area"></textarea>
                    </div>
                    <input type="submit" value="Subscribe" class="input-btn"/>
                </form>
            </div>
        </div>
        <div class="copyright">Design by cssauthor.com © 2012-2018</div>
    </div>
</footer>