<header class="header">
    <div class="container">
        <div class="logo">
            <div class="logo__pic">
                <img src="assets/img/logo/logo.png" alt="Logo">
            </div>
            <div class="logo__text">
                <div class="logo__title">Dublin Apps</div>
                <div class="logo__desc">iPad applications</div>
            </div>
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item active"><a href="#">Home</a></li>
                <li class="nav__item"><a href="#">iPad apps</a></li>
                <li class="nav__item"><a href="#">Demonstrations</a></li>
                <li class="nav__item"><a href="#">Leopards media</a></li>
                <li class="nav__item"><a href="#">Contact us</a></li>
            </ul>
        </nav>
    </div>
</header>