<header class="header">
    <div class="container">
        <div class="logo">
            <div class="logo__pic">
                <i class="sprite sprite-logo"></i>
            </div>
            <div class="logo__text">
                <div class="logo__title">Dublin Apps</div>
                <div class="logo__desc">iPad applications</div>
            </div>
        </div>
        <nav class="nav">
            <ul class="nav__list">
                block tabs
            </ul>
        </nav>
    </div>
</header>