<div id="modal-proceed">
    <div class="modal-proceed">
        <div class="proceed__title">
            <div class="title-main">Do you want to proceed?</div>
            <div class="title-submain">Lorem ipsum dolor sit amet.</div>
        </div>
        <div class="proceed__choice">
            <a href="#" class="btn btn-download yes trigger-order">
                <div class="yes__pic">
                    <i class="sprite sprite-yes"></i>
                </div>
                <p>Yes</p>
            </a>
            <a href="#" class="btn btn-download no trigger-order">
                <div class="no__pic">
                    <i class="sprite sprite-no"></i>
                </div>
                <p>No</p>
            </a>
        </div>
    </div>
</div>