<div id="modal-order">
    <div class="modal-order">
        <div class="order">
            <div class="order__title">
                <div class="title-main">Dublin's iPad Applications</div>
                <div class="title-submain">Lorem ipsum dolor sit amet.</div>
            </div>
            <form action="#" method="get" class="form-order">
                <ul class="app-preview">
                    <li class="app-preview__item">
                        <div class="app-preview__pic">
                            <i class="sprite sprite-app-preview-img"></i>
                        </div>
                        <div class="app-preview__count">
                            <input type="number" value="1" max="999" class="input-digits">
                            <div class="count-arrows">
                                <a href="#" class="count-arrows__up"><i class="sprite sprite-count-arrows-up"></i></a>
                                <a href="#" class="count-arrows__down"><i class="sprite sprite-count-arrows-down"></i></a>
                            </div>
                        </div>
                        <div class="app-preview__text">iPad Application</div>
                    </li>
                </ul>
                <div class="total-price">
                    <div class="total-price__text">Total:</div>
                    <div class="total-price__price">$155</div>
                </div>
                <div class="credit-card">
                    <input id="credit" type="tel" placeholder="Credit card number" class="input-credit">
                    <div class="btn btn-contacts btn-credit trigger-proceed">Pay now</div>
                </div>
            </form>
            <div class="order__info">
                <div class="order__info-pic">
                    <i class="sprite sprite-info"></i>
                </div>
                <div class="order__info-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem esse neque nihil quae quisquam unde.</div>
            </div>
        </div>
        <div class="payment">
            <a href="#" class="payment__method trigger-proceed">
                <svg class="payment__svg">
                    <use xlink:href="assets/img/svg/sprite/socials-sprite.svg#paypal"></use>
                </svg>
                <div class="payment__title">
                    <div class="title-main">Paypal</div>
                    <div class="title-submain">Lorem ipsum dolor.</div>
                </div>
            </a>
        </div>
    </div>
</div>