<section class="pagetitle">
    <div class="container">
        <div class="pagetitle__title">
            <div class="title-main">
                block pagetitle title
            </div>
            <div class="title-submain">Lorem ipsum dolor sit amet.</div>
        </div>
        <div class="search">
            <form action="#" method="get" class="form-search">
                <input type="text" placeholder="Search..." class="search__input">
                <input type="submit" value="" class="search__submit">
            </form>
        </div>
    </div>
</section>