.container-blog {
  @extend %container-bg;
  display: flex;
}

.blog {
  width: 75%;
  padding: rem(25px) rem(30px);
  background: rgba(231, 232, 234, 0);
  background: linear-gradient(to right, rgba(231, 232, 234, 0) 0%, rgba(231, 232, 234, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e8ea', endColorstr='#e7e8ea', GradientType=1);
}

.blog__blocks-wrapper {
  margin-bottom: rem(25px);
}

.blog__block {
  display: flex;
  padding: rem(25px) 0;
  border-bottom: 1px solid $border-color;
  &:first-child {
    padding-top: 0;
  }
}

.blog__pic {
  width: rem(200px);
  height: rem(155px);
  margin-top: rem(8px);
  margin-right: rem(30px);
  img {
    @extend %img;
    border: solid 1px $border-color;
  }
}

.blog__main {
  width: 65%;
  .desc {
    margin-bottom: rem(15px);
  }
}

.blog__main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(10px);
}

.blog__pagination {
  display: flex;
  justify-content: center;
  .active {
    opacity: 1;
  }
}

.blog__pagination-number {
  @extend %product-btn-bg;
  overflow: hidden;
  width: rem(30px);
  height: rem(30px);
  margin-right: rem(15px);
  text-align: center;
  font-size: rem(15px);
  border: 1px solid rgba(#5f7380, .1);
  border-radius: 3px;
  opacity: .5;
  transition: all .5s;
  &:first-child {
    width: rem(60px);
  }
  &:last-child {
    width: rem(60px);
    margin-right: 0;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: rem(3px) 0;
    border-top: 1px solid #a7a7b5;
    border-left: 1px solid #a7a7b5;
    color: #ffffff;
    transition: all .5s;
  }
  &:hover {
    opacity: .7;
  }
}