.sidebar {
  width: 25%;
  background: rgba(223, 224, 226, 1);
  background: linear-gradient(to right, rgba(223, 224, 226, 1) 0%, rgba(223, 224, 226, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfe0e2', endColorstr='#dfe0e2', GradientType=1);
}

.sidebar__inner {
  padding: rem(25px);
}

.sidebar__list-wrapper {
  margin-bottom: rem(50px);
}

.sidebar__list {
  margin-bottom: rem(20px);
  .title-main {
    margin-bottom: rem(20px);
  }
  .list {
    margin: 0;
    .list__item {
      display: inline-block;
      padding: rem(10px);
      text-align: center;
      border-radius: 5px;
      transition: all .3s;
      &:hover {
        background: rgba($accentcolor, .8);
        a {
          color: $nav-color;
        }
      }
      &:before {
        display: none;
      }
      a {
        position: relative;
        display: inline-block;
        margin-bottom: 0;
        margin-left: 20px;
        color: $maintext;
        transition: all .3s;
        &:before {
          position: absolute;
          top: 3px;
          left: -20px;
          width: rem(14px);
          height: rem(14px);
          border-radius: 50%;
          background: url(../assets/img/misc/spritesheet.png) center no-repeat;
          background-position: -10px -167px;
          content: '';
        }
      }
    }
  }
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__block {
  width: rem(193px);
  height: rem(110px);
  margin-bottom: rem(20px);
  border: 1px solid $border-color;
  background: #ffffff;
  img {
    @extend %img;
  }
  .promo__text {
    padding-top: 30px;
    text-align: center;
    color: $maintext;
  }
}

