<!DOCTYPE html>
<html lang="en-EN">
include includes/head
<body>
<div class="wrapper">
    <main class="main-content">
        include includes/header
        include includes/pagetitle
        <section class="section">
            <div class="container container-blog">
                <div class="blog">
                    <div class="blog__blocks-wrapper">
                        <div class="blog__block">
                            <div class="blog__pic">
                                <img src="assets/img/blog/blog-img.png" alt="Blog Image">
                            </div>
                            <div class="blog__main">
                                <a href="blog-article.html" class="title-main-wrapper">
                                    <div class="title-main">Blog title</div>
                                    <div class="title-submain-wrapper">
                                        <div class="title-submain">31 / december / 2047</div>
                                        <div class="title-submain">written by Me</div>
                                    </div>
                                </a>
                                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                                    |   animi asperiores corporis delectus, deleniti excepturi id ipsam itaque libero, magnam
                                    |   maiores, natus nesciunt perferendis quasi quo quos reprehenderit rerum sint veritatis
                                    |   voluptatem. Excepturi facere modi molestias odio provident quod, rem ut. Earum facere
                                    |   ipsa maiores necessitatibus numquam officia omnis quae.
                                </div>
                                <div class="blog__main-footer">
                                    <ul class="blog__socials">
                                        <li class="blog__socials-item">
                                            <a href="#" class="blog__socials-link">
                                                <svg class="blog__socials-svg">
                                                    <use xlink:href="assets/img/svg/sprite/socials-sprite.svg#tw"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="blog__socials-item">
                                            <a href="#" class="blog__socials-link">
                                                <svg class="blog__socials-svg">
                                                    <use xlink:href="assets/img/svg/sprite/socials-sprite.svg#fb"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="blog-article.html" class="btn">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog__block">
                            <div class="blog__pic">
                                <img src="assets/img/blog/blog-img.png" alt="Blog Image">
                            </div>
                            <div class="blog__main">
                                <a href="blog-article.html" class="title-main-wrapper">
                                    <div class="title-main">Blog title</div>
                                    <div class="title-submain-wrapper">
                                        <div class="title-submain">31 / december / 2047</div>
                                        <div class="title-submain">written by Me</div>
                                    </div>
                                </a>
                                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                                    |   animi asperiores corporis delectus, deleniti excepturi id ipsam itaque libero, magnam
                                    |   maiores, natus nesciunt perferendis quasi quo quos reprehenderit rerum sint veritatis
                                    |   voluptatem. Excepturi facere modi molestias odio provident quod, rem ut. Earum facere
                                    |   ipsa maiores necessitatibus numquam officia omnis quae.
                                </div>
                                <div class="blog__main-footer">
                                    <ul class="blog__socials">
                                        <li class="blog__socials-item">
                                            <a href="#" class="blog__socials-link">
                                                <svg class="blog__socials-svg">
                                                    <use xlink:href="assets/img/svg/sprite/socials-sprite.svg#tw"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="blog__socials-item">
                                            <a href="#" class="blog__socials-link">
                                                <svg class="blog__socials-svg">
                                                    <use xlink:href="assets/img/svg/sprite/socials-sprite.svg#fb"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="blog-article.html" class="btn">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog__block">
                            <div class="blog__pic">
                                <img src="assets/img/blog/blog-img.png" alt="Blog Image">
                            </div>
                            <div class="blog__main">
                                <a href="blog-article.html" class="title-main-wrapper">
                                    <div class="title-main">Blog title</div>
                                    <div class="title-submain-wrapper">
                                        <div class="title-submain">31 / december / 2047</div>
                                        <div class="title-submain">written by Me</div>
                                    </div>
                                </a>
                                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                                    |   animi asperiores corporis delectus, deleniti excepturi id ipsam itaque libero, magnam
                                    |   maiores, natus nesciunt perferendis quasi quo quos reprehenderit rerum sint veritatis
                                    |   voluptatem. Excepturi facere modi molestias odio provident quod, rem ut. Earum facere
                                    |   ipsa maiores necessitatibus numquam officia omnis quae.
                                </div>
                                <div class="blog__main-footer">
                                    <ul class="blog__socials">
                                        <li class="blog__socials-item">
                                            <a href="#" class="blog__socials-link">
                                                <svg class="blog__socials-svg">
                                                    <use xlink:href="assets/img/svg/sprite/socials-sprite.svg#tw"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="blog__socials-item">
                                            <a href="#" class="blog__socials-link">
                                                <svg class="blog__socials-svg">
                                                    <use xlink:href="assets/img/svg/sprite/socials-sprite.svg#fb"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="blog-article.html" class="btn">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog__block">
                            <div class="blog__pic">
                                <img src="assets/img/blog/blog-img.png" alt="Blog Image">
                            </div>
                            <div class="blog__main">
                                <a href="blog-article.html" class="title-main-wrapper">
                                    <div class="title-main">Blog title</div>
                                    <div class="title-submain-wrapper">
                                        <div class="title-submain">31 / december / 2047</div>
                                        <div class="title-submain">written by Me</div>
                                    </div>
                                </a>
                                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                                    |   animi asperiores corporis delectus, deleniti excepturi id ipsam itaque libero, magnam
                                    |   maiores, natus nesciunt perferendis quasi quo quos reprehenderit rerum sint veritatis
                                    |   voluptatem. Excepturi facere modi molestias odio provident quod, rem ut. Earum facere
                                    |   ipsa maiores necessitatibus numquam officia omnis quae.
                                </div>
                                <div class="blog__main-footer">
                                    <ul class="blog__socials">
                                        <li class="blog__socials-item">
                                            <a href="#" class="blog__socials-link">
                                                <svg class="blog__socials-svg">
                                                    <use xlink:href="assets/img/svg/sprite/socials-sprite.svg#tw"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="blog__socials-item">
                                            <a href="#" class="blog__socials-link">
                                                <svg class="blog__socials-svg">
                                                    <use xlink:href="assets/img/svg/sprite/socials-sprite.svg#fb"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="blog-article.html" class="btn">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog__block">
                            <div class="blog__pic">
                                <img src="assets/img/blog/blog-img.png" alt="Blog Image">
                            </div>
                            <div class="blog__main">
                                <a href="blog-article.html" class="title-main-wrapper">
                                    <div class="title-main">Blog title</div>
                                    <div class="title-submain-wrapper">
                                        <div class="title-submain">31 / december / 2047</div>
                                        <div class="title-submain">written by Me</div>
                                    </div>
                                </a>
                                <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                                    |   animi asperiores corporis delectus, deleniti excepturi id ipsam itaque libero, magnam
                                    |   maiores, natus nesciunt perferendis quasi quo quos reprehenderit rerum sint veritatis
                                    |   voluptatem. Excepturi facere modi molestias odio provident quod, rem ut. Earum facere
                                    |   ipsa maiores necessitatibus numquam officia omnis quae.
                                </div>
                                <div class="blog__main-footer">
                                    <ul class="blog__socials">
                                        <li class="blog__socials-item">
                                            <a href="#" class="blog__socials-link">
                                                <svg class="blog__socials-svg">
                                                    <use xlink:href="assets/img/svg/sprite/socials-sprite.svg#tw"></use>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="blog__socials-item">
                                            <a href="#" class="blog__socials-link">
                                                <svg class="blog__socials-svg">
                                                    <use xlink:href="assets/img/svg/sprite/socials-sprite.svg#fb"></use>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="blog-article.html" class="btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="blog__pagination">
                        <li class="blog__pagination-number"><a href="#"><< First</a></li>
                        <li class="blog__pagination-number"><a href="#"><<</a></li>
                        <li class="blog__pagination-number"><a href="#">1</a></li>
                        <li class="blog__pagination-number"><a href="#">2</a></li>
                        <li class="blog__pagination-number active"><a href="#">3</a></li>
                        <li class="blog__pagination-number"><a href="#">4</a></li>
                        <li class="blog__pagination-number"><a href="#">5</a></li>
                        <li class="blog__pagination-number"><a href="#">>></a></li>
                        <li class="blog__pagination-number"><a href="#">Last >></a></li>
                    </ul>
                </div>
                <aside class="sidebar">
                    <div class="sidebar__inner">
                        <div class="sidebar__list-wrapper">
                            <div class="sidebar__list">
                                <div class="title-main">Sidebar</div>
                                <ul class="list">
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sidebar__list">
                                <div class="title-main">Sidebar</div>
                                <ul class="list">
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                    <li class="list__item">
                                        <a href="#">
                                            | Lorem ipsum dolor sit amet fuagra
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="promo">
                            <div class="promo__block"><div class="promo__text"><p>Advertisement</p><p>193 x 110</p></div></div>
                            <div class="promo__block"><div class="promo__text"><p>Advertisement</p><p>193 x 110</p></div></div>
                            <div class="promo__block"><div class="promo__text"><p>Advertisement</p><p>193 x 110</p></div></div>
                        </div>
                    </div>
                </aside>
            </div>
        </section>
    </main>
</div>
include includes/footer
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/main.min.js -->
<script src="js/main.min.js"></script>
<!-- endbuild -->
</body>
</html>