<!DOCTYPE html>
<html lang="en-EN">
include includes/head
<body>
<div class="wrapper">
    <main class="main-content">
        include includes/header
        include includes/pagetitle
        <section class="section">
            <div class="container">
                <div class="content-wrapper">
                    <div class="contacts">
                        <div class="contacts__form">
                            <form action="#" method="get" class="form-contacts">
                                <div class="contacts__inputs-wrapper">
                                    <input placeholder="Your name" type="text" class="contacts__input"/>
                                    <input placeholder="E-mail address" type="email" class="contacts__input"/>
                                    <input placeholder="Phone number" type="tel" class="contacts__input"/>
                                    <textarea placeholder="Your message" class="contacts__input contacts__text-area"></textarea>
                                </div>
                                <input type="submit" value="Submit" class="btn btn-contacts"/>
                            </form>
                        </div>
                        <div class="contacts__info">
                            <div class="contacts__address">
                                <div class="contacts__address-elements-wrapper">
                                    <div class="title-main">Dublin's iPad Apps office</div>
                                    <ul class="address__list">
                                        <li class="address__item">Dublin, Ireland</li>
                                        <li class="address__item">Unit 9A King's Court, Parnell St, North City</li>
                                        <li class="address__item">10:00 - 18:00</li>
                                        <li class="address__item"><a href="tel: 888-888">Phone: 888-888</a></li>
                                    </ul>
                                </div>
                                <div class="contacts__address-elements-wrapper">
                                    <div class="title-main">Or write us on e-mail:</div>
                                    <ul class="address__list">
                                        <li class="address__item">
                                            <a href="mailto: dublinapps@dublin.com">dublinapps@dublin.com</a>
                                        </li>
                                        <li class="address__item">
                                            <a href="mailto: dublinapps@gmail.com">dublinapps@gmail.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div id="map" class="contacts__map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
include includes/footer
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/main.min.js -->
<script src="js/main.min.js"></script>
<!-- endbuild -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAegz7fGIWTKx8FfAUDCnRTqM0K02uOX3w&callback=initMap" async defer></script>
</body>
</html>