<!DOCTYPE html>
<html lang="en-EN">
include includes/head
<body>
<div class="wrapper">
    <main class="main-content">
        include includes/header
        <section class="section1"></section>
        <section class="section2"></section>
        <section class="section3"></section>
        <section class="section4"></section>
        <section class="section5"></section>
        <section class="section6"></section>
    </main>
</div>
<footer class="footer"></footer>
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/main.min.js -->
<script src="js/main.min.js"></script>
<!-- endbuild -->
</body>
</html>