<!DOCTYPE html>
<html lang="en-EN">
include includes/head
<body>
<div class="wrapper">
    <main class="main-content">
        include includes/header
        <section class="section">
            <div class="container">
                <div class="slider">
                    <div class="slide">
                        <div class="slide__inner">
                            <div class="slide__content">
                            <div class="slide__text">
                                <div class="slide__text-title">
                                    <p>DUBLIN'S</p>
                                </div>
                                <div class="slide__text-subtitle">
                                    <p>iPad <b>Apps</b></p>
                                </div>
                                <div class="slide__text-desc">
                                    <p>Free and paid apps</p>
                                    <p>for your iPad</p>
                                </div>
                            </div>
                            <a href="#" class="slide__text-button">
                                <p>Read More</p>
                            </a>
                        </div>
                            <div class="slide__pic">
                                <img src="assets/img/ipad/ipad-slider.png" alt="iPad">
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="slide__inner">
                            <div class="slide__content">
                                <div class="slide__text">
                                    <div class="slide__text-title">
                                        <p>DUBLIN'S</p>
                                    </div>
                                    <div class="slide__text-subtitle">
                                        <p>iPad <b>Apps</b></p>
                                    </div>
                                    <div class="slide__text-desc">
                                        <p>Free and paid apps</p>
                                        <p>for your iPad</p>
                                    </div>
                                </div>
                                <a href="#" class="slide__text-button">
                                    <p>Read More</p>
                                </a>
                            </div>
                            <div class="slide__pic">
                                <img src="assets/img/ipad/ipad-slider.png" alt="iPad">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section"></section>
        <section class="section"></section>
        <section class="section"></section>
        <section class="section"></section>
        <section class="section"></section>
    </main>
</div>
<footer class="footer"></footer>
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/main.min.js -->
<script src="js/main.min.js"></script>
<!-- endbuild -->
</body>
</html>