<!DOCTYPE html>
<html lang="en-EN">
include includes/head
<body>
<div class="wrapper">
    <main class="main-content">
        include includes/header
        <section class="section">
            <div class="container">
                <div class="slider-homepage">
                    <div class="slide-homepage">
                        <div class="slide-homepage__inner">
                            <div class="slide-homepage__content">
                                <div class="slide-homepage__text">
                                    <div class="slide-homepage__text-title">
                                        | DUBLIN'S
                                    </div>
                                    <div class="slide-homepage__text-subtitle">
                                        | iPad <b>Apps</b>
                                    </div>
                                    <div class="slide-homepage__text-desc">
                                        <p>Free and paid apps</p>
                                        <p>for your iPad</p>
                                    </div>
                                </div>
                                <a href="ipad-app.html" class="btn btn-slider">
                                    | Read More
                                </a>
                            </div>
                            <div class="slide-homepage__pic">
                                <img src="assets/img/ipad/slider-homepage-ipad.png" alt="iPad">
                            </div>
                        </div>
                    </div>
                    <div class="slide-homepage">
                        <div class="slide-homepage__inner">
                            <div class="slide-homepage__content">
                                <div class="slide-homepage__text">
                                    <div class="slide-homepage__text-title">
                                        | DUBLIN'S
                                    </div>
                                    <div class="slide-homepage__text-subtitle">
                                        | iPad <b>Apps</b>
                                    </div>
                                    <div class="slide-homepage__text-desc">
                                        <p>Free and paid apps</p>
                                        <p>for your iPad</p>
                                    </div>
                                </div>
                                <a href="ipad-app.html" class="btn btn-slider">
                                    | Read More
                                </a>
                            </div>
                            <div class="slide-homepage__pic">
                                <img src="assets/img/ipad/slider-homepage-ipad.png" alt="iPad">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <ul class="top-apps">
                    <li class="top-apps__item">
                        <a href="ipad-app.html" class="top-apps__link">
                            <div class="top-apps__pic">
                                <img class="top-apps__img" src="assets/img/top-apps/e-book.png" alt="e-Book">
                            </div>
                            <div class="top-apps__title">
                                | e-Book Reader Pro
                            </div>
                        </a>
                    </li>
                    <li class="top-apps__item">
                        <a href="ipad-app.html" class="top-apps__link">
                            <div class="top-apps__pic">
                                <img class="top-apps__img" src="assets/img/top-apps/image-viewer.png" alt="Image Viewer">
                            </div>
                            <div class="top-apps__title">
                                | Image Viewer Pro
                            </div>
                        </a>
                    </li>
                    <li class="top-apps__item">
                        <a href="ipad-app.html" class="top-apps__link">
                            <div class="top-apps__pic">
                                <img class="top-apps__img" src="assets/img/top-apps/media.png" alt="Media manager">
                            </div>
                            <div class="top-apps__title">
                                | Media manager
                            </div>
                        </a>
                    </li>
                    <li class="top-apps__item">
                        <a href="ipad-app.html" class="top-apps__link">
                            <div class="top-apps__pic">
                                <img class="top-apps__img" src="assets/img/top-apps/dice.png" alt="Leo Entertainment">
                                <img class="top-apps__img-new" src="assets/img/top-apps/new.png" alt="New">
                            </div>
                            <div class="top-apps__title">
                                | Leo Entertainment
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="categories">
                    <li class="categories__item">
                        <a href="#" class="categories__title">
                            <span class="categories__icon">
                                <i class="sprite sprite-discover"></i>
                            </span>
                            <div class="categories__title-text">
                                <div class="title-main">
                                    | Discover Apps
                                </div>
                                <div class="title-submain">
                                    | Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </a>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                                |   aliquam consectetur est laboriosam magnam magni placeat quae quam saepe similique?</p>
                        </div>
                    </li>
                    <li class="categories__item">
                        <a href="#" class="categories__title">
                            <span class="categories__icon">
                                <i class="sprite sprite-browse"></i>
                            </span>
                            <div class="categories__title-text">
                                <div class="title-main">
                                    | Browse Apps
                                </div>
                                <div class="title-submain">
                                    | Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </a>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                                |   aliquam consectetur est laboriosam magnam magni placeat quae quam saepe similique?</p>
                        </div>
                    </li>
                    <li class="categories__item">
                        <a href="#" class="categories__title">
                            <span class="categories__icon">
                                <i class="sprite sprite-develop"></i>
                            </span>
                            <div class="categories__title-text">
                                <div class="title-main">
                                    | Development
                                </div>
                                <div class="title-submain">
                                    | Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </a>
                        <div class="desc">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
                                |   aliquam consectetur est laboriosam magnam magni placeat quae quam saepe similique?</p>
                        </div>
                    </li>
                </ul>
                <div class="slider-news-wrapper">
                    <div class="slider-news">
                        <div class="slide-news">
                            <div class="slide-news__inner">
                                <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>. Aspernatur
                                    |   consectetur corporis debitis
                                    |   iste itaque vitae? Nostrum officia placeat quam tempore!</p>
                            </div>
                        </div>
                        <div class="slide-news">
                            <div class="slide-news__inner">
                                <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>. Aspernatur
                                    |   consectetur corporis debitis
                                    |   iste itaque vitae? Nostrum officia placeat quam tempore!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="product-demo">
                    <div class="product-demo__title">
                        <div class="title-main">There are many variations of passages</div>
                        <div class="title-submain">Lorem ipsum dolor sit amet.</div>
                    </div>
                    <div class="product-demo__main">
                        <div class="product-demo__pic">
                            <img src="assets/img/ipad/product-demo-ipad.png" alt="iPad">
                        </div>
                        <div class="product-demo__content">
                            <ul class="list">
                                <li class="list__item">
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, pariatur!
                                </li>
                                <li class="list__item">
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, pariatur!
                                </li>
                                <li class="list__item">
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, pariatur!
                                </li>
                                <li class="list__item">
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, pariatur!
                                </li>
                                <li class="list__item">
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, pariatur!
                                </li>
                            </ul>
                            <div class="product-demo__buttons">
                                <a href="ipad-app.html" class="btn">
                                    | Read More
                                </a>
                                <a href="purchase.html" class="btn">
                                    | Download
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <ul class="acco">
                    <li class="acco__item">
                        <a href="#" class="acco__link">
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, provident?
                        </a>
                        <div class="acco__content">
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque
                            | perferendis ratione temporibus voluptates. Adipisci inventore minima pariatur repellat
                            | soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque
                            | perferendis ratione temporibus voluptates. Adipisci inventore minima pariatur repellat
                            | soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque
                            | perferendis ratione temporibus voluptates. Adipisci inventore minima pariatur repellat
                            | soluta.
                        </div>
                    </li>
                    <li class="acco__item">
                        <a href="#" class="acco__link">
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, provident?
                        </a>
                        <div class="acco__content">
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque
                            | perferendis ratione temporibus voluptates. Adipisci inventore minima pariatur repellat
                            | soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque
                            | perferendis ratione temporibus voluptates. Adipisci inventore minima pariatur repellat
                            | soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque
                            | perferendis ratione temporibus voluptates. Adipisci inventore minima pariatur repellat
                            | soluta.
                        </div>
                    </li>
                    <li class="acco__item">
                        <a href="#" class="acco__link">
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, provident?
                        </a>
                        <div class="acco__content">
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque
                            | perferendis ratione temporibus voluptates. Adipisci inventore minima pariatur repellat
                            | soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque
                            | perferendis ratione temporibus voluptates. Adipisci inventore minima pariatur repellat
                            | soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque
                            | perferendis ratione temporibus voluptates. Adipisci inventore minima pariatur repellat
                            | soluta.
                        </div>
                    </li>
                    <li class="acco__item">
                        <a href="#" class="acco__link">
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, provident?
                        </a>
                        <div class="acco__content">
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque
                            | perferendis ratione temporibus voluptates. Adipisci inventore minima pariatur repellat
                            | soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque
                            | perferendis ratione temporibus voluptates. Adipisci inventore minima pariatur repellat
                            | soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque
                            | perferendis ratione temporibus voluptates. Adipisci inventore minima pariatur repellat
                            | soluta.
                        </div>
                    </li>
                    <li class="acco__item">
                        <a href="#" class="acco__link">
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, provident?
                        </a>
                        <div class="acco__content">
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque
                            | perferendis ratione temporibus voluptates. Adipisci inventore minima pariatur repellat
                            | soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque
                            | perferendis ratione temporibus voluptates. Adipisci inventore minima pariatur repellat
                            | soluta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloremque
                            | perferendis ratione temporibus voluptates. Adipisci inventore minima pariatur repellat
                            | soluta.
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</div>
include includes/footer
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/main.min.js -->
<script src="js/main.min.js"></script>
<!-- endbuild -->
</body>
</html>