<!DOCTYPE html>
<html lang="en-EN">
include includes/head
<body>
<div class="wrapper">
    <main class="main-content">
        include includes/header
        include includes/pagetitle
        <section class="section">
            <div class="container">
                <div class="products-wrapper">
                    <div class="products-slider">
                        <div class="products-slide">
                            <div class="products-slide__inner">
                                <div class="products-slide__pic">
                                    <img src="assets/img/ipad/products-ipad.png" alt="iPad">
                                </div>
                                <div class="title-wrap">
                                    <div class="title-main">iPad Image Viewer</div>
                                    <div class="title-submain">Lorem ipsum dolor sit.</div>
                                </div>
                                <a href="#" class="btn">Read More</a>
                            </div>
                        </div>
                        <div class="products-slide">
                            <div class="products-slide__inner">
                                <div class="products-slide__pic">
                                    <img src="assets/img/ipad/products-ipad.png" alt="iPad">
                                </div>
                                <div class="title-wrap">
                                    <div class="title-main">iPad Image Viewer</div>
                                    <div class="title-submain">Lorem ipsum dolor sit.</div>
                                </div>
                                <a href="#" class="btn">Read More</a>
                            </div>
                        </div>
                        <div class="products-slide">
                            <div class="products-slide__inner">
                                <div class="products-slide__pic">
                                    <img src="assets/img/ipad/products-ipad.png" alt="iPad">
                                </div>
                                <div class="title-wrap">
                                    <div class="title-main">iPad Image Viewer</div>
                                    <div class="title-submain">Lorem ipsum dolor sit.</div>
                                </div>
                                <a href="#" class="btn">Read More</a>
                            </div>
                        </div>
                        <div class="products-slide">
                            <div class="products-slide__inner">
                                <div class="products-slide__pic">
                                    <img src="assets/img/ipad/products-ipad.png" alt="iPad">
                                </div>
                                <div class="title-wrap">
                                    <div class="title-main">iPad Image Viewer</div>
                                    <div class="title-submain">Lorem ipsum dolor sit.</div>
                                </div>
                                <a href="#" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="recentapps">
                    <ul class="tab-bar">
                        <li class="tab-bar__item active">
                            <a href="#" class="tab-bar__link">Most Popular</a>
                        </li>
                        <li class="tab-bar__item">
                            <a href="#" class="tab-bar__link">Recent</a>
                        </li>
                    </ul>
                    <ul class="tab-content">
                        <li class="tab-content__item active">
                            <div class="tab-content__wrapper">
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                    <div class="tab-content__title">
                                        <div class="title-main">iPad apps</div>
                                        <div class="title-submain">Lorem ipsum dolor sit.</div>
                                    </div>
                                    <a href="#" class="btn">Read More</a>
                                </div>
                                </div>
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                        <div class="tab-content__title">
                                            <div class="title-main">iPad apps</div>
                                            <div class="title-submain">Lorem ipsum dolor sit.</div>
                                        </div>
                                        <a href="#" class="btn">Read More</a>
                                    </div>
                                </div>
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                        <div class="tab-content__title">
                                            <div class="title-main">iPad apps</div>
                                            <div class="title-submain">Lorem ipsum dolor sit.</div>
                                        </div>
                                        <a href="#" class="btn">Read More</a>
                                    </div>
                                </div>
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                        <div class="tab-content__title">
                                            <div class="title-main">iPad apps</div>
                                            <div class="title-submain">Lorem ipsum dolor sit.</div>
                                        </div>
                                        <a href="#" class="btn">Read More</a>
                                    </div>
                                </div>
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                        <div class="tab-content__title">
                                            <div class="title-main">iPad apps</div>
                                            <div class="title-submain">Lorem ipsum dolor sit.</div>
                                        </div>
                                        <a href="#" class="btn">Read More</a>
                                    </div>
                                </div>
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                        <div class="tab-content__title">
                                            <div class="title-main">iPad apps</div>
                                            <div class="title-submain">Lorem ipsum dolor sit.</div>
                                        </div>
                                        <a href="#" class="btn">Read More</a>
                                    </div>
                                </div>
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                        <div class="tab-content__title">
                                            <div class="title-main">iPad apps</div>
                                            <div class="title-submain">Lorem ipsum dolor sit.</div>
                                        </div>
                                        <a href="#" class="btn">Read More</a>
                                    </div>
                                </div>
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                        <div class="tab-content__title">
                                            <div class="title-main">iPad apps</div>
                                            <div class="title-submain">Lorem ipsum dolor sit.</div>
                                        </div>
                                        <a href="#" class="btn">Read More</a>
                                    </div>
                                </div>
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                        <div class="tab-content__title">
                                            <div class="title-main">iPad apps</div>
                                            <div class="title-submain">Lorem ipsum dolor sit.</div>
                                        </div>
                                        <a href="#" class="btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="tab-content__item">
                            <div class="tab-content__wrapper">
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                        <div class="tab-content__title">
                                            <div class="title-main">iPad apps</div>
                                            <div class="title-submain">Lorem ipsum dolor sit.</div>
                                        </div>
                                        <a href="#" class="btn">Read More</a>
                                    </div>
                                </div>
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                        <div class="tab-content__title">
                                            <div class="title-main">iPad apps</div>
                                            <div class="title-submain">Lorem ipsum dolor sit.</div>
                                        </div>
                                        <a href="#" class="btn">Read More</a>
                                    </div>
                                </div>
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                        <div class="tab-content__title">
                                            <div class="title-main">iPad apps</div>
                                            <div class="title-submain">Lorem ipsum dolor sit.</div>
                                        </div>
                                        <a href="#" class="btn">Read More</a>
                                    </div>
                                </div>
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                        <div class="tab-content__title">
                                            <div class="title-main">iPad apps</div>
                                            <div class="title-submain">Lorem ipsum dolor sit.</div>
                                        </div>
                                        <a href="#" class="btn">Read More</a>
                                    </div>
                                </div>
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                        <div class="tab-content__title">
                                            <div class="title-main">iPad apps</div>
                                            <div class="title-submain">Lorem ipsum dolor sit.</div>
                                        </div>
                                        <a href="#" class="btn">Read More</a>
                                    </div>
                                </div>
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                        <div class="tab-content__title">
                                            <div class="title-main">iPad apps</div>
                                            <div class="title-submain">Lorem ipsum dolor sit.</div>
                                        </div>
                                        <a href="#" class="btn">Read More</a>
                                    </div>
                                </div>
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                        <div class="tab-content__title">
                                            <div class="title-main">iPad apps</div>
                                            <div class="title-submain">Lorem ipsum dolor sit.</div>
                                        </div>
                                        <a href="#" class="btn">Read More</a>
                                    </div>
                                </div>
                                <div class="tab-content__block">
                                    <div class="tab-content__pic">
                                        <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                    </div>
                                    <div class="tab-content__text">
                                        <div class="tab-content__title">
                                            <div class="title-main">iPad apps</div>
                                            <div class="title-submain">Lorem ipsum dolor sit.</div>
                                        </div>
                                        <a href="#" class="btn">Read More</a>
                                    </div>
                                </div>
                                <div class="tab-content__block">
                                <div class="tab-content__pic">
                                    <img src="assets/img/ipad/ipad-contenttab.png" alt="iPad">
                                </div>
                                <div class="tab-content__text">
                                    <div class="tab-content__title">
                                        <div class="title-main">iPad apps</div>
                                        <div class="title-submain">Lorem ipsum dolor sit.</div>
                                    </div>
                                    <a href="#" class="btn">Read More</a>
                                </div>
                            </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
</div>
include includes/footer
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/main.min.js -->
<script src="js/main.min.js"></script>
<!-- endbuild -->
</body>
</html>