<!DOCTYPE html>
<html lang="en-EN">
include includes/head
<body>
<div class="wrapper">
    <main class="main-content">
        include includes/header
        include includes/pagetitle
        <section class="section product-section">
            <div class="container">
                <div class="products-wrapper">
                    <div class="product">
                        <div class="product__title">
                            <div class="title-main">There are many variations of passages</div>
                            <div class="title-submain">Lorem ipsum dolor sit amet.</div>
                        </div>
                        <div class="product__main">
                            <div class="product__pic">
                                <img src="assets/img/ipad/ipad-product.png" alt="iPad">
                            </div>
                            <div class="product__text">
                                <ul class="list">
                                    <li class="list__item">
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, pariatur!
                                    </li>
                                    <li class="list__item">
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, pariatur!
                                    </li>
                                    <li class="list__item">
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, pariatur!
                                    </li>
                                    <li class="list__item">
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, pariatur!
                                    </li>
                                    <li class="list__item">
                                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, pariatur!
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="demo-mainblock">
                    <ul class="tab-numbers">
                        <li class="tab-number"><a href="#">1</a></li>
                        <li class="tab-number active"><a href="#">2</a></li>
                        <li class="tab-number"><a href="#">3</a></li>
                        <li class="tab-number"><a href="#">4</a></li>
                    </ul>
                    <div class="demo-mainblock__main">
                        <div class="demo-mainblock__title">
                            <div class="title-main">There are many variations of passages</div>
                            <div class="title-submain">Lorem ipsum dolor sit amet.</div>
                        </div>
                        <div class="passages">
                            <img src="assets/img/apps/play.png" alt="Play">
                            <img src="assets/img/apps/pause.png" alt="Pause">
                            <img src="assets/img/apps/info.png" alt="Info">
                        </div>
                        <div class="demo-mainblock__desc">
                            <div class="title-main">Play now</div>
                            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eaque
                                eligendi
                                |  et excepturi illum ipsa minima natus necessitatibus nemo neque obcaecati placeat
                                possimus
                                |  praesentium provident, qui quia ut veniam voluptas! Atque consectetur consequatur cum
                                |  dolores est fugiat id illo in laborum maxime, natus omnis pariatur reiciendis
                                reprehenderit
                                |  sequi tempore veniam? Accusamus dolor eius exercitationem explicabo fugit illo illum
                                in ipsa
                                |  iure laboriosam molestiae nam, necessitatibus neque nesciunt nostrum obcaecati odio,
                                omnis
                                |  optio possimus, quia repellat tempore tenetur velit veniam voluptatibus?
                            </div>
                        </div>
                        <div class="section product-section">
                            <div class="product">
                                <div class="product__title">
                                    <div class="title-main">There are many variations of passages</div>
                                </div>
                                <div class="product__main">
                                    <div class="product__pic">
                                        <img src="assets/img/ipad/ipad-demo.png" alt="iPad">
                                    </div>
                                    <div class="product__text">
                                        <ul class="list">
                                            <li class="list__item">
                                                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                                                |  pariatur!
                                            </li>
                                            <li class="list__item">
                                                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                                                |  pariatur!
                                            </li>
                                            <li class="list__item">
                                                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                                                |  pariatur!
                                            </li>
                                            <li class="list__item">
                                                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                                                |  pariatur!
                                            </li>
                                        </ul>
                                        <div class="product__buttons">
                                            <a href="#" class="btn">
                                                |  Buy now
                                            </a>
                                            <a href="#" class="btn btn_download">
                                                |  Download
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="demo-mainblock__main active">
                        <div class="demo-mainblock__title">
                            <div class="title-main">There are many variations of passages</div>
                            <div class="title-submain">Lorem ipsum dolor sit amet.</div>
                        </div>
                        <div class="passages">
                            <img src="assets/img/apps/play.png" alt="Play">
                            <img src="assets/img/apps/pause.png" alt="Pause">
                            <img src="assets/img/apps/info.png" alt="Info">
                        </div>
                        <div class="demo-mainblock__desc">
                            <div class="title-main">Play now</div>
                            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eaque
                                eligendi
                                |  et excepturi illum ipsa minima natus necessitatibus nemo neque obcaecati placeat
                                possimus
                                |  praesentium provident, qui quia ut veniam voluptas! Atque consectetur consequatur cum
                                |  dolores est fugiat id illo in laborum maxime, natus omnis pariatur reiciendis
                                reprehenderit
                                |  sequi tempore veniam? Accusamus dolor eius exercitationem explicabo fugit illo illum
                                in ipsa
                                |  iure laboriosam molestiae nam, necessitatibus neque nesciunt nostrum obcaecati odio,
                                omnis
                                |  optio possimus, quia repellat tempore tenetur velit veniam voluptatibus?
                            </div>
                        </div>
                        <div class="section product-section">
                            <div class="product">
                                <div class="product__title">
                                    <div class="title-main">There are many variations of passages</div>
                                </div>
                                <div class="product__main">
                                    <div class="product__pic">
                                        <img src="assets/img/ipad/ipad-demo.png" alt="iPad">
                                    </div>
                                    <div class="product__text">
                                        <ul class="list">
                                            <li class="list__item">
                                                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                                                |  pariatur!
                                            </li>
                                            <li class="list__item">
                                                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                                                |  pariatur!
                                            </li>
                                            <li class="list__item">
                                                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                                                |  pariatur!
                                            </li>
                                            <li class="list__item">
                                                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                                                |  pariatur!
                                            </li>
                                        </ul>
                                        <div class="product__buttons">
                                            <a href="#" class="btn">
                                                |  Buy now
                                            </a>
                                            <a href="#" class="btn btn_download">
                                                |  Download
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="demo-mainblock__main">
                        <div class="demo-mainblock__title">
                            <div class="title-main">There are many variations of passages</div>
                            <div class="title-submain">Lorem ipsum dolor sit amet.</div>
                        </div>
                        <div class="passages">
                            <img src="assets/img/apps/play.png" alt="Play">
                            <img src="assets/img/apps/pause.png" alt="Pause">
                            <img src="assets/img/apps/info.png" alt="Info">
                        </div>
                        <div class="demo-mainblock__desc">
                            <div class="title-main">Play now</div>
                            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eaque
                                eligendi
                                |  et excepturi illum ipsa minima natus necessitatibus nemo neque obcaecati placeat
                                possimus
                                |  praesentium provident, qui quia ut veniam voluptas! Atque consectetur consequatur cum
                                |  dolores est fugiat id illo in laborum maxime, natus omnis pariatur reiciendis
                                reprehenderit
                                |  sequi tempore veniam? Accusamus dolor eius exercitationem explicabo fugit illo illum
                                in ipsa
                                |  iure laboriosam molestiae nam, necessitatibus neque nesciunt nostrum obcaecati odio,
                                omnis
                                |  optio possimus, quia repellat tempore tenetur velit veniam voluptatibus?
                            </div>
                        </div>
                        <div class="section product-section">
                            <div class="product">
                                <div class="product__title">
                                    <div class="title-main">There are many variations of passages</div>
                                </div>
                                <div class="product__main">
                                    <div class="product__pic">
                                        <img src="assets/img/ipad/ipad-demo.png" alt="iPad">
                                    </div>
                                    <div class="product__text">
                                        <ul class="list">
                                            <li class="list__item">
                                                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                                                |  pariatur!
                                            </li>
                                            <li class="list__item">
                                                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                                                |  pariatur!
                                            </li>
                                            <li class="list__item">
                                                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                                                |  pariatur!
                                            </li>
                                            <li class="list__item">
                                                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                                                |  pariatur!
                                            </li>
                                        </ul>
                                        <div class="product__buttons">
                                            <a href="#" class="btn">
                                                |  Buy now
                                            </a>
                                            <a href="#" class="btn btn_download">
                                                |  Download
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="demo-mainblock__main">
                        <div class="demo-mainblock__title">
                            <div class="title-main">There are many variations of passages</div>
                            <div class="title-submain">Lorem ipsum dolor sit amet.</div>
                        </div>
                        <div class="passages">
                            <img src="assets/img/apps/play.png" alt="Play">
                            <img src="assets/img/apps/pause.png" alt="Pause">
                            <img src="assets/img/apps/info.png" alt="Info">
                        </div>
                        <div class="demo-mainblock__desc">
                            <div class="title-main">Play now</div>
                            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eaque
                                eligendi
                                |  et excepturi illum ipsa minima natus necessitatibus nemo neque obcaecati placeat
                                possimus
                                |  praesentium provident, qui quia ut veniam voluptas! Atque consectetur consequatur cum
                                |  dolores est fugiat id illo in laborum maxime, natus omnis pariatur reiciendis
                                reprehenderit
                                |  sequi tempore veniam? Accusamus dolor eius exercitationem explicabo fugit illo illum
                                in ipsa
                                |  iure laboriosam molestiae nam, necessitatibus neque nesciunt nostrum obcaecati odio,
                                omnis
                                |  optio possimus, quia repellat tempore tenetur velit veniam voluptatibus?
                            </div>
                        </div>
                        <div class="section product-section">
                            <div class="product">
                                <div class="product__title">
                                    <div class="title-main">There are many variations of passages</div>
                                </div>
                                <div class="product__main">
                                    <div class="product__pic">
                                        <img src="assets/img/ipad/ipad-demo.png" alt="iPad">
                                    </div>
                                    <div class="product__text">
                                        <ul class="list">
                                            <li class="list__item">
                                                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                                                |  pariatur!
                                            </li>
                                            <li class="list__item">
                                                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                                                |  pariatur!
                                            </li>
                                            <li class="list__item">
                                                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                                                |  pariatur!
                                            </li>
                                            <li class="list__item">
                                                |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime,
                                                |  pariatur!
                                            </li>
                                        </ul>
                                        <div class="product__buttons">
                                            <a href="#" class="btn">
                                                |  Buy now
                                            </a>
                                            <a href="#" class="btn btn_download">
                                                |  Download
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
include includes/footer
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/main.min.js -->
<script src="js/main.min.js"></script>
<!-- endbuild -->
</body>
</html>