.acco {
  .active {
    .acco__link {
      background: rgba($accentcolor, .1);
      color: $maintext;
      transition: all 1s;
      &:before {
        padding-right: rem(14px);
        margin-right: rem(12px);
        border-radius: 50%;
        background: url(../assets/img/misc/bullet.png) center no-repeat;
        transition: all .2s, background .5s;
        content: '';
      }
    }
  }
}

.acco__item {
  display: inline-block;
  color: $maintext;
  &:last-child {
    .acco__link {
      border-bottom: 1px solid rgba($maintext, .2);
    }
  }
  .acco__link {
    color: inherit;
  }
}

.acco__link {
  display: inline-block;
  padding: rem(10px);
  margin-bottom: rem(5px);
  border-top: 1px solid rgba($maintext, .2);
  border-radius: 5px;
  transition: all .5s;
  &:before {
    padding-right: rem(14px);
    margin-right: rem(12px);
    border-radius: 50%;
    background: url(../assets/img/misc/acco-bullet.png) center no-repeat;
    transition: all .2s, background .5s;
    content: '';
  }
  &:hover {
    color: $nav-color;
    background: rgba($accentcolor, .8);
  }
}

.acco__content {
  display: none;
  margin-bottom: rem(20px);
}