.product-demo__title{
  width: rem(420px);
  margin: 0 auto rem(20px);
  line-height: 1;
}

.product-demo__main{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.product-demo__pic{
  position: relative;
  width: rem(380px);
  height: rem(240px);
  img{
    @extend %img;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.product-demo__content{
  display: flex;
  flex-direction: column;
}

.product-demo__buttons{
  display: flex;
  justify-content: flex-start;
  .btn{
    margin-left: rem(25px);
  }
}