.slide-homepage__inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.slide-homepage__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: rem(45px);
  text-align: right;
  color: $nav-color;
}

.slide-homepage__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.slide-homepage__text-title {
  @include overlock(bold);
  font-size: rem(45px);
}

.slide-homepage__text-subtitle {
  @include overlock();
  font-size: rem(40px);
}

.slide-homepage__text-desc {
  font-size: rem(20px);
}

.slide-homepage__pic {
  width: rem(470px);
  height: rem(380px);
  img {
    @extend %img;
  }
}