//----------------------<<top apps>>----------------------\\
.top-apps {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(40px);
}

.top-apps__item {
  position: relative;
  display: block;
  width: rem(240px);
  height: rem(160px);
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px 50px rgba(#000000, .2);
  background: rgba(255, 255, 255, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(226, 226, 226, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e2e2e2', GradientType=0);
  transition: transform .5s;
  &:hover {
    transform: scale(1.05);
  }
}

.top-apps__link {
  display: block;
}

.top-apps__pic {
  position: relative;
  width: 100%;
  height: rem(130px);
}

.top-apps__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.top-apps__img-new {
  position: absolute;
  top: rem(-4px);
  right: rem(-3px);
}

.top-apps__title {
  font-size: rem(18px);
  color: $maintext;
}

//----------------------<<categories>>----------------------\\
.categories {
  display: flex;
  justify-content: space-around;
  margin-bottom: rem(60px);
}

.categories__item {
  display: flex;
  flex-direction: column;
  width: rem(300px);
}

.categories__title {
  display: flex;
  align-items: flex-start;
  margin-bottom: rem(20px);
  &:hover {
    .categories__icon {
      transform: scale(1.2);
    }
  }
}

.categories__icon {
  margin-right: rem(10px);
  transition: transform .5s;
}

.categories__title-text {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

//----------------------<<news slider>>----------------------\\
.slider-news-wrapper {
  display: flex;
  justify-content: center;
}

.slider-news {
  width: rem(600px);
}

.slide-news__inner {
  width: rem(550px);
  margin: 0 auto;
  text-align: center;
  font-size: rem(16px);
  color: $maintext;
  a {
    border-bottom: 0 solid rgba($accentcolor, .8);
    color: $accentcolor;
    transition: all .2s;
    &:hover {
      border-width: 2px;
    }
  }
}


