.slide-products__inner{
  display: flex;
  flex-direction: column;
  width: rem(318px);
  .btn{
    margin-left: 0;
  }
}

.slide-products__pic{
  width: rem(215px);
  height: rem(270px);
  margin-bottom: rem(10px);
  img{
    @extend %img;
  }
}

.slide-products__title{
  margin-bottom: rem(25px);
}