.products-wrapper{
  @extend %container-bg;
  padding: rem(30px) rem(75px) rem(70px);
}

.products-slide__inner{
  display: flex;
  flex-direction: column;
  width: rem(318px);
  .btn{
    margin-left: 0;
  }
}

.products-slide__pic{
  margin-bottom: rem(10px);
}

.title-wrap{
  margin-bottom: rem(25px);
}