.tab-bar {
  display: flex;
  margin: 0px rem(75px);
  border-bottom: 2px solid $border-color;
  .active {
    .tab-bar__link {
      width: rem(120px);
      opacity: 1;
    }
  }
}

.tab-bar__link {
  @extend %product-btn-bg;
  display: block;
  width: rem(110px);
  padding: rem(5px) 0;
  margin-right: rem(20px);
  text-align: center;
  font-size: rem(15px);
  border-radius: 5px 5px 0 0;
  color: $nav-color;
  opacity: .5;
  transition: all .5s;
  &:hover {
    opacity: .7;
  }
}

.tab-content {
  .active {
    display: block;
  }
}

.tab-content__item {
  display: none;
  padding: rem(45px) rem(75px) 0;
}

.tab-content__blocks-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tab-content__block {
  display: flex;
  margin-bottom: rem(65px);
}

.tab-content__pic {
  width: rem(110px);
  height: rem(85px);
  margin-right: rem(15px);
  img {
    @extend %img;
  }
}

.tab-content__content {
  line-height: 1;
  .btn {
    @extend %product-btn-bg;
    width: rem(95px);
    margin: 0;
    font-size: rem(15px);
  }
}

.tab-content__title {
  margin-bottom: rem(20px);
}