//----------------------<<vars>>----------------------\\
$nav-color: #d7d7e3;
$bg-color: #1b1b2e;
$maintext: #8c8c92;
$maintext-dark: #505050;
$accentcolor: #5f7390;

//----------------------<<misc>>----------------------\\
@import "_misc/normalize";
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/adjustment";
@import "_misc/sprite";
@import "_misc/slick-theme";
@import "_misc/resets";

//----------------------<<sections>>----------------------\\

//homepage
@import "sections/header";
@import "sections/homepage/slider";
@import "sections/homepage/top-apps";
@import "sections/homepage/product";
@import "sections/homepage/acco";
@import "sections/footer";

//productspage
@import "sections/productspage/pagetitle";
@import "sections/productspage/productsmain";
@import "sections/productspage/recentapps";

.main-content{
  @include alegreya();
  padding: rem(35px) 0;
  background: rgba(27,27,45,1);
  background: linear-gradient(to bottom, rgba(27,27,45,1) 0%, rgba(27,27,45,1) 6%, rgba(231,232,234,1) 39%, rgba(231,232,234,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1b2d', endColorstr='#e7e8ea', GradientType=0 );
}