//----------------------<<vars>>----------------------\\
$nav-color: #d7d7e3;
$bg-color: #1b1b2e;
$maintext: #8c8c92;
$maintext-dark: #505050;
$accentcolor: rgb(23,64,131);
$border-color: rgba($maintext, .3);

//----------------------<<misc>>----------------------\\
@import "_misc/normalize";
@import "_misc/mixins";
@import "_misc/fonts";
@import "_misc/adjustment";
@import "_misc/sprite";
@import "_misc/slick-theme";
@import "_misc/resets";

//elements
@import "elements/elements";
@import "elements/header";
@import "elements/footer";
@import "elements/pagetitle";
@import "elements/modal";

//----------------------<<sections>>----------------------\\

//homepage
@import "sections/homepage/slider";
@import "sections/homepage/top-apps";
@import "sections/homepage/product-demo";
@import "sections/homepage/acco";

//productspage
@import "sections/apps/apps";
@import "sections/apps/apps-recent";
@import "sections/apps/purchase";
@import "sections/apps/ipad-app";

//blog
@import "sections/blog/blog";
@import "sections/blog/sidebar";
@import "sections/blog/blog-article";

//contacts
@import "sections/contacts/contacts";