.contacts{
  display: flex;
}

.contacts__form{
  width: 60%;
  border-right: 1px solid $border-color;
}

.form-contacts{
  margin-top: rem(30px);
  margin-right: rem(75px);
  text-align: right;
}

.contacts__inputs-wrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: rem(15px);
}

.contacts__input{
  padding: rem(10px) rem(20px);
  margin-bottom: rem(15px);
  outline: none;
  font-size: rem(20px);
  border: 2px solid $nav-color;
  border-radius: 10px;
  box-shadow: 0 1px #c9c9c9 inset;
  color: $maintext-dark;
  background: #ffffff;
  &::placeholder{
    font-size: rem(20px);
    color: $maintext;
  }
  &:last-child{
    margin-bottom: 0;
  }
}

.contacts__text-area{
  max-width: 100%;
  height: rem(90px);
}

.btn-contacts{
  display: inline-block;
  margin: 0;
  border: none;
  outline: none;
}

.contacts__info{
  width: 50%;
  margin-top: rem(30px);
  margin-left: rem(75px);
}

.contacts__address{
  padding: rem(10px) rem(20px);
  margin-bottom: rem(15px);
  border: 2px solid $nav-color;
  border-radius: 10px;
  box-shadow: 0 1px #c9c9c9 inset;
  color: $maintext-dark;
  background: #ffffff;
  &::placeholder{
    font-size: rem(20px);
    color: $maintext;
  }
  .title-main{
    font-size: rem(20px);
  }
}

.contacts__address-elements-wrapper{
  margin-bottom: rem(10px);
  &:last-child{
    margin-bottom: 0;
  }
}

.address__list{
  margin: 0 rem(15px);
}

.address__item{
  a{
    display: inline-block;
    border-bottom: 2px solid transparent;
    color: $accentcolor;
    transition: all .2s;
    &:hover {
      border-color: rgba($accentcolor, .8);
    }
  }
}

.contacts__map{
  width: 100%;
  height: rem(300px);
  margin: auto;
}