//----------------------<<vars>>----------------------\\
$container-width: 1000px;
$footer-height: 340px;

//----------------------<<css>>----------------------\\
html {
  font-size: 16px;
  // @include laptop{
  // 	font-size: 15px;
  // }
  // @include tablet{
  // 	font-size: 14px;
  // }
  // @include mobile{
  // 	font-size: 12px;
  // }
}

body {
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
}

body, html {
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  min-width: $container-width + 20;
  min-height: 100%;
  overflow: hidden;
}

.wrapper:after {
  display: block;
  height: $footer-height;
  overflow: hidden;
  content: "";
}

.container {
  width: $container-width;
  // max-width: $container-width;
  // @include desktop{
  // 	width: 1000px;
  // }
  // @include laptop{
  // 	width: 670px;
  // }
  // @include tablet{
  // 	width: 460px;
  // }
  // @include mobile{
  // 	width: 300px;
  // }
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 0;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

footer {
  position: relative;
  min-width: $container-width + 20;
  width: 100%;
  height: $footer-height;
  margin-top: -$footer-height;
}