//----------------------<<fonts>>----------------------\\
@font-face {
  font-family: 'overlockblack';
  src: url('../assets/fonts/overlock-black-webfont.eot');
  src: url('../assets/fonts/overlock-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/overlock-black-webfont.woff2') format('woff2'),
  url('../assets/fonts/overlock-black-webfont.woff') format('woff'),
  url('../assets/fonts/overlock-black-webfont.ttf') format('truetype'),
  url('../assets/fonts/overlock-black-webfont.svg#overlockblack') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'overlockblack_italic';
  src: url('../assets/fonts/overlock-blackitalic-webfont.eot');
  src: url('../assets/fonts/overlock-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/overlock-blackitalic-webfont.woff2') format('woff2'),
  url('../assets/fonts/overlock-blackitalic-webfont.woff') format('woff'),
  url('../assets/fonts/overlock-blackitalic-webfont.ttf') format('truetype'),
  url('../assets/fonts/overlock-blackitalic-webfont.svg#overlockblack_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'overlockbold';
  src: url('../assets/fonts/overlock-bold-webfont.eot');
  src: url('../assets/fonts/overlock-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/overlock-bold-webfont.woff2') format('woff2'),
  url('../assets/fonts/overlock-bold-webfont.woff') format('woff'),
  url('../assets/fonts/overlock-bold-webfont.ttf') format('truetype'),
  url('../assets/fonts/overlock-bold-webfont.svg#overlockbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'overlockbold_italic';
  src: url('../assets/fonts/overlock-bolditalic-webfont.eot');
  src: url('../assets/fonts/overlock-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/overlock-bolditalic-webfont.woff2') format('woff2'),
  url('../assets/fonts/overlock-bolditalic-webfont.woff') format('woff'),
  url('../assets/fonts/overlock-bolditalic-webfont.ttf') format('truetype'),
  url('../assets/fonts/overlock-bolditalic-webfont.svg#overlockbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'overlockitalic';
  src: url('../assets/fonts/overlock-italic-webfont.eot');
  src: url('../assets/fonts/overlock-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/overlock-italic-webfont.woff2') format('woff2'),
  url('../assets/fonts/overlock-italic-webfont.woff') format('woff'),
  url('../assets/fonts/overlock-italic-webfont.ttf') format('truetype'),
  url('../assets/fonts/overlock-italic-webfont.svg#overlockitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'overlockregular';
  src: url('../assets/fonts/overlock-regular-webfont.eot');
  src: url('../assets/fonts/overlock-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/overlock-regular-webfont.woff2') format('woff2'),
  url('../assets/fonts/overlock-regular-webfont.woff') format('woff'),
  url('../assets/fonts/overlock-regular-webfont.ttf') format('truetype'),
  url('../assets/fonts/overlock-regular-webfont.svg#overlockregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'alegreya_sansbold';
  src: url('../assets/fonts/alegreyasans-bold-webfont.eot');
  src: url('../assets/fonts/alegreyasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/alegreyasans-bold-webfont.woff2') format('woff2'),
  url('../assets/fonts/alegreyasans-bold-webfont.woff') format('woff'),
  url('../assets/fonts/alegreyasans-bold-webfont.ttf') format('truetype'),
  url('../assets/fonts/alegreyasans-bold-webfont.svg#alegreya_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'alegreya_sansbold_italic';
  src: url('../assets/fonts/alegreyasans-bolditalic-webfont.eot');
  src: url('../assets/fonts/alegreyasans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/alegreyasans-bolditalic-webfont.woff2') format('woff2'),
  url('../assets/fonts/alegreyasans-bolditalic-webfont.woff') format('woff'),
  url('../assets/fonts/alegreyasans-bolditalic-webfont.ttf') format('truetype'),
  url('../assets/fonts/alegreyasans-bolditalic-webfont.svg#alegreya_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'alegreya_sansitalic';
  src: url('../assets/fonts/alegreyasans-italic-webfont.eot');
  src: url('../assets/fonts/alegreyasans-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/alegreyasans-italic-webfont.woff2') format('woff2'),
  url('../assets/fonts/alegreyasans-italic-webfont.woff') format('woff'),
  url('../assets/fonts/alegreyasans-italic-webfont.ttf') format('truetype'),
  url('../assets/fonts/alegreyasans-italic-webfont.svg#alegreya_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'alegreya_sansmedium';
  src: url('../assets/fonts/alegreyasans-medium-webfont.eot');
  src: url('../assets/fonts/alegreyasans-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/alegreyasans-medium-webfont.woff2') format('woff2'),
  url('../assets/fonts/alegreyasans-medium-webfont.woff') format('woff'),
  url('../assets/fonts/alegreyasans-medium-webfont.ttf') format('truetype'),
  url('../assets/fonts/alegreyasans-medium-webfont.svg#alegreya_sansmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'alegreya_sansmedium_italic';
  src: url('../assets/fonts/alegreyasans-mediumitalic-webfont.eot');
  src: url('../assets/fonts/alegreyasans-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/alegreyasans-mediumitalic-webfont.woff2') format('woff2'),
  url('../assets/fonts/alegreyasans-mediumitalic-webfont.woff') format('woff'),
  url('../assets/fonts/alegreyasans-mediumitalic-webfont.ttf') format('truetype'),
  url('../assets/fonts/alegreyasans-mediumitalic-webfont.svg#alegreya_sansmedium_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'alegreya_sansregular';
  src: url('../assets/fonts/alegreyasans-regular-webfont.eot');
  src: url('../assets/fonts/alegreyasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/alegreyasans-regular-webfont.woff2') format('woff2'),
  url('../assets/fonts/alegreyasans-regular-webfont.woff') format('woff'),
  url('../assets/fonts/alegreyasans-regular-webfont.ttf') format('truetype'),
  url('../assets/fonts/alegreyasans-regular-webfont.svg#alegreya_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

//----------------------<<mixins>>----------------------\\
@mixin overlock($style: regular) {
  @if $style == regular{
    font-family: 'overlockregular';
  }
  @if $style == bold{
    font-family: 'overlockblack';
  }
}

@mixin alegreya($style: regular) {
  @if $style == regular{
    font-family: 'alegreya_sansregular';
  }
  @if $style == bold{
    font-family: 'alegreya_sansbold';
  }
}

