//----------------------<<sliders>>----------------------\\
.slider-homepage, .products-slider{
  .slick-next:before, .slick-prev:before {
    content: "";
  }

  .slick-next, .slick-next:focus, .slick-next:hover, .slick-prev, .slick-prev:focus, .slick-prev:hover {
    border-radius: 50%;
    color: transparent;
    outline: none;
    z-index: 10000;
  }

  .slick-next, .slick-prev {
    width: 39px;
    height: 39px;
  }

  .slick-next, .slick-next:focus, .slick-next:hover{
    background: url('../assets/img/misc/spritesheet.png') no-repeat;
    background-position: -10px -491px;
    display: block;
  }

  .slick-prev, .slick-prev:focus, .slick-prev:hover{
    background: url('../assets/img/misc/spritesheet.png') no-repeat;
    background-position: -10px -432px;
    display: block;
  }
}

//news slider
.slider-news{
  .slick-next:before, .slick-prev:before {
    content: "";
  }

  .slick-next, .slick-next:focus, .slick-next:hover, .slick-prev, .slick-prev:focus, .slick-prev:hover {
    border-radius: 50%;
    color: transparent;
    outline: none;
    z-index: 10000;
  }

  .slick-next, .slick-prev {
    width: 24px;
    height: 27px;
  }

  .slick-next, .slick-next:focus, .slick-next:hover{
    background: url('../assets/img/misc/spritesheet.png') no-repeat;
    background-position: -10px -385px;
    display: block;
  }

  .slick-prev, .slick-prev:focus, .slick-prev:hover{
    background: url('../assets/img/misc/spritesheet.png') no-repeat;
    background-position: -10px -338px;
    display: block;
  }
}

//products slider arrows positioning
.products-slider{
  .slick-next {
    right: -55px;
  }
  .slick-prev{
    left: -55px;
  }
}
