.sprite {
  background: url(../assets/img/misc/spritesheet.png) no-repeat;
  display: block;
}

.sprite-browse {
  width: 33px;
  height: 33px;
  background-position: -10px -10px;
}

.sprite-btn-shadow {
  width: 185px;
  height: 24px;
  background-position: -10px -63px;
}

.sprite-bullet {
  width: 14px;
  height: 14px;
  background-position: -10px -107px;
}

.sprite-bullet2 {
  width: 14px;
  height: 14px;
  background-position: -10px -141px;
}

.sprite-develop {
  width: 33px;
  height: 33px;
  background-position: -10px -175px;
}

.sprite-discover {
  width: 33px;
  height: 33px;
  background-position: -10px -228px;
}

.sprite-logo {
  width: 37px;
  height: 37px;
  background-position: -10px -281px;
}

.sprite-news-slide-ar-l {
  width: 24px;
  height: 27px;
  background-position: -10px -338px;
}

.sprite-news-slide-ar-r {
  width: 24px;
  height: 27px;
  background-position: -10px -385px;
}

.sprite-slider-arrow-l {
  width: 39px;
  height: 39px;
  background-position: -10px -432px;
}

.sprite-slider-arrow-r {
  width: 39px;
  height: 39px;
  background-position: -10px -491px;
}

.sprite-tweet-line {
  width: 1073px;
  height: 1px;
  background-position: -10px -550px;
}
