extends pug/blog exclude

block title
    | Blog

block tabs
    <li class="nav__item"><a href="index.html">Home</a></li>
    <li class="nav__item"><a href="products.html">iPad apps</a></li>
    <li class="nav__item active"><a href="blog.html">Blog</a></li>
    <li class="nav__item"><a href="#">Contact us</a></li>

block pagetitle title
    | Dublin's Blog