extends pug/contacts exclude

block title
    | Contact us

block tabs
    <li class="nav__item"><a href="index.html">Home</a></li>
    <li class="nav__item"><a href="apps.html">Apps</a></li>
    <li class="nav__item"><a href="blog.html">Blog</a></li>
    <li class="nav__item"><a href="purchase.html">Quick Buy</a></li>
    <li class="nav__item active"><a href="contacts.html">Contact us</a></li>

block pagetitle title
    | Keep in touch with us