extends pug/index exclude

block title
    | Homepage | Dublin Apps

block tabs
    <li class="nav__item active"><a href="index.html">Home</a></li>
    <li class="nav__item"><a href="products.html">Apps</a></li>
    <li class="nav__item"><a href="blog.html">Blog</a></li>
    <li class="nav__item"><a href="contacts.html">Contact us</a></li>