extends pug/index exclude

block title
    | Homepage

block tabs
    <li class="nav__item active"><a href="index.html">Home</a></li>
    <li class="nav__item"><a href="products.html">iPad apps</a></li>
    <li class="nav__item"><a href="blog.html">Blog</a></li>
    <li class="nav__item"><a href="#">Contact us</a></li>