extends pug/products exclude

block title
    | Products

block tabs
    <li class="nav__item"><a href="index.html">Home</a></li>
    <li class="nav__item active"><a href="products.html">iPad apps</a></li>
    <li class="nav__item"><a href="blog.html">Blog</a></li>
    <li class="nav__item"><a href="contacts.html">Contact us</a></li>

block pagetitle title
    | Dublin's iPad applications