extends pug/products exclude

block title
    | Products

block tabs
    <li class="nav__item"><a href="index.html">Home</a></li>
    <li class="nav__item active"><a href="products.html">iPad apps</a></li>
    <li class="nav__item"><a href="#">Demonstrations</a></li>
    <li class="nav__item"><a href="#">Leopards media</a></li>
    <li class="nav__item"><a href="#">Contact us</a></li>